html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: rgb(16, 11, 29);
    min-height: 100vh;
    color: white;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Fasthand', cursive;

    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

p {
    font-size: 1em;
    color: rgb(255, 0, 0);
    z-index: 200;
}

.wrapper, .header {
    display:flex;
    align-items: center;
    padding: 15px; 
    position: relative;  
}

.clock-body::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.clock-body {
    min-width: 85vmin;
    min-height: 85vmin;
    background-image: linear-gradient(to right, rgba(220, 220, 220, 0.892), rgb(228, 155, 82));
    border-radius: 50%;
    position: relative;
    display: block;
    border: seashell solid 2em; 
    -moz-box-shadow: inset 0 0 20px #000000;
    -webkit-box-shadow: inset 0 0 20px #000000;
    box-shadow:         inset 0 0 50px #4f2c2c;  
    z-index: 1;
}

.clock-body::before {
  content: "";
  position: absolute;
    border-radius: 50%;
    /* top: 0;
    left: 0;
    bottom: 0;
    right: 0; */
    background-image: linear-gradient(#f0fffe, #b5dcdb2b);
    z-index: 3;
    min-width: 50vmin;
    min-height: 50vmin;
    z-index: 7;
}

.clock-body::after{
    content: "";
    position: absolute;
    background-image: linear-gradient(to left, rgb(220, 220, 220), rgba(223, 161, 55, 0.919));
    border: rgb(254, 229, 177) 1px solid;
    width: 5%;
    height:5%;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 70;
    box-shadow:inset 0 0 9px #674930;
     
}

.clock-body .number {
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 5;
    color: #000;
    transform: rotate(var(--rotation));
    padding: 10px;
    
}

.clock-body .number1 {--rotation: 30deg; }
.clock-body .number2 {--rotation: 60deg; }
.clock-body .number3 {--rotation: 90deg; }
.clock-body .number4 {--rotation: 120deg; }
.clock-body .number5 {--rotation: 150deg; }
.clock-body .number6 {--rotation: 180deg; }
.clock-body .number7 {--rotation: 210deg; }
.clock-body .number8 {--rotation: 240deg; }
.clock-body .number9 {--rotation: 270deg; }
.clock-body .number10 {--rotation: 300deg;}
.clock-body .number11 {--rotation: 330deg; }

.clock-body .hand {
    /* --rotation: 0; */
    position: absolute;
    /* width: 1.5%;
    height: 35%; */
    left: 50%;
    bottom: 50%;
    background-color: rgb(152, 119, 37);
    z-index:2;
    transform: translateX(-50%);
    transform-origin: bottom; /*positie vanaf roteren.*/
    /* transform:translateX(-50%)rotate(calc(var(--rotation)* 1deg)); */
}

.clock-body .hand::after {
    content: "";
    color: rgb(187, 124, 101);
    position: absolute;
    z-index: 4;
    height: 100%;
    width: 10%;
    background-color: rgb(75, 75, 75);
}

.clock-body .hand.seconds {
    width: 0.5%;
    height: 42%;
}

.clock-body .hand.minutes {
    width: 1%;
    height: 42%;
}
.clock-body .hand.hours{
    width: 0.5em;
    height: 30%;
}

.number {
    font-size: 2em;
    text-align: center;
    background-color: transparent;
}

.number::after {
    content: "";
    font-size: 1em;
    width: 0.3%;
    height: 5%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 50;
    /* transform: rotate(-50%,-50%); */
}